@using SHOP_NETCORE.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
    var productByCategoryPhone = (List<ProductViewModel>)ViewBag.lstProductbyPhone;
    var productByCategoryLaptop = (List<ProductViewModel>)ViewBag.lstProductbyLaptop;
    var slide = (List<SlideViewModel>)ViewBag.Slide;
}

<style>
    #li5 {
        margin-left: 0px !important;
    }
    .sale-img {
        padding-right: 47px;
        padding-top: 37px;
    }
</style>

@section banner{ 
<div class="container">
    <div class="custom-feature-box row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_1">
                <div class="title">Miễn phí vận chuyển</div>
                <p>miễn phí cho đơn hàng dưới 5.000.000</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_2">
                <div class="title">Miễn phí đổi hàng</div>
                <p>miễn phí đổi hàng trong vòng 24g</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_3">
                <div class="title">Thẻ ưu đãi</div>
                <p>tặng thẻ ưu đãi khi đủ điều kiện</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="feature-box fbox_4">
                <div class="title">Cộng điểm</div>
                <p>được cộng điểm mua hàng</p>
            </div>
        </div>
    </div>
</div>

}

@section Slide{
<div class="slideshow single-slider owl-carousel">
    @foreach (var item in slide)
    {
        if (item.Status == true)
        {
            <div class="item"> <a href="#"><img class="img-responsive" src="@Url.Content("~/images/slidebanner/"+ item.LinkImage)" width="920px" height="380px" alt="banner 1" /></a> </div>
        }
    }
</div>

}


  
    <h3 class="subtitle">Điện thoại</h3>
    <div class="owl-carousel product_carousel">
        @foreach (var phone in productByCategoryLaptop)
        {
            <div class="product-thumb clearfix">
                <div class="image"><a href="products/detail/@phone.Id"><img src="@Url.Content("~/images/"+ phone.Images)" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="products/detail/@phone.Id">@phone.Name</a></h4>
                    <p class="price"><span class="price-old">@phone.Price.ToString("N0") <small style="color:red;">vnđ</small></span></p>
                    <p class="price"><span class="price-new">@phone.PromotionPrice.ToString("N0") <small style="color:red;">vnđ</small></span></p>
                </div>
                <div class="button-group">
                    <button class="btn-primary btnAddToCart" type="button" data-id="@phone.Id"><span>Thêm vào giỏ</span></button>
                    @*<div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                    </div>*@
                </div>
            </div>
        }
    </div>
    <!-- Featured Product End-->
    <!-- Banner Start-->
    <div class="marketshop-banner">
        <div class="row">
            @foreach (var item in slide)
            {
                if (item.Status == false)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="@Url.Content("~/images/slidebanner/"+ item.LinkImage)" alt="Sample Banner 3" title="Sample Banner 3" /></a></div>
                }
            }
        </div>
    </div>
    <!-- Banner End-->

    <!-- Categories Product Slider Start -->
    <h3 class="subtitle">Laptop <a class="viewall" href="category.html"> hiển thị tất cả</a></h3>
    <div class="owl-carousel latest_category_carousel">
        @foreach (var laptop in productByCategoryPhone)
        {
            <div class="product-thumb">
                <div class="image"><a href="products/detail/@laptop.Id"><img src="@Url.Content("~/images/"+ laptop.Images)" alt="Hair Care Cream for Men" title="Hair Care Cream for Men" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="products/detail/@laptop.Id">@laptop.Name</a></h4>
                    <p class="price"><span class="price-old">@laptop.Price.ToString("N0") <small style="color:red;">vnđ</small></span></p>
                    <p class="price"><span class="price-new">@laptop.PromotionPrice.ToString("N0") <small style="color:red;">vnđ</small></span></p>
                </div>
                <div class="button-group">
                    <button class="btn-primary btnAddToCart" data-id="@laptop.Id" type="button" onClick=""><span>Thêm vào giỏ</span></button>
                    @*<div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="thêm ưa thích" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="so sánh sản phẩm" onClick=""><i class="fa fa-exchange"></i></button>
                    </div>*@
                </div>
            </div>
        }
    </div>
    <!-- Categories Product Slider End -->
    <!-- Brand Product Slider Start-->   


