@model List<SHOP_NETCORE.Models.InfomationViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layouts.cshtml";
}

<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin công ty</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <di class="row">
                <div class="col-md-6">
                    <a href="/admin/infomation/create" class="btn btn-success">Thêm mới</a>
                </div>
            </di>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Tên công ty</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Thao tác</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>
                                    <a href="/admin/infomation/edit/@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                                    <button class="btn  btn-sm btn-danger btnDelete" id="btnDelete" data-id="@item.Id"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }


                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->

    </div><!-- /.box -->
</section>

