@model List<SHOP_NETCORE.Models.OrderDetailViewModel>
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_layouts.cshtml";
}

<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Mã đơn hàng : @Model.Select(r=>r.OrderId).FirstOrDefault()</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.ProductCode</td>
                                <td>@item.Product.Name</td>
                                <td>@item.Quantitty</td>
                                <td>@(item.Price.ToString("N0"))</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <a href="/admin/order" class="btn btn-success">Quay lại</a>
        </div><!-- /.box-body -->

    </div><!-- /.box -->
</section>

