@model SHOP_NETCORE.Models.LoginCustomerViewModel
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using BUSINESS_OBJECTS
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
}


@section scriptClient {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<form asp-controller="Customer" asp-action="Login" method="post">
    <h1 class="title">Đăng nhập tài khoản</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="subtitle">Khách hàng đăng nhập</h2>
            <p><strong>Chào mừng bạn đã quay trở lại với chúng tôi</strong></p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label asp-for="Email" class="control-label" for="input-email"></label>
                <input asp-for="Email" type="text" placeholder="Email" id="input-email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" for="input-password">Mật khẩu</label>
                <input asp-for="Password" type="password" placeholder="Mật khẩu" id="input-password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br>
                <a href="#">Quên mật khẩu?</a>
            </div>
            
            <input type="submit" value="Đăng nhập" class="btn btn-primary">
        </div>
        <div class="col-sm-6">
            <h2 class="subtitle">Khách hàng mới</h2>
            <p><strong>Đăng ký tài khoản</strong></p>
            <p>Đăng ký tài khoản khi mua hàng sẽ nhận được những ưu đãi tốt hơn.</p>
            <a href="dangky.html" class="btn btn-primary">Tiếp tục</a>
        </div>

    </div>
</form>
<div class="social-auth-links text-center col-md-6" style="padding-left:0;" >
    <p>Hoặc</p>
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
        if (loginProviders.Count == 0)
        {
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
        }
        <form asp-controller="Customer" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            @foreach (var provider in loginProviders)
            {
                <button type="submit" name="provider" style="background:#3B5998;color:white;" title="Log in using your @provider.DisplayName" class="btn btn-block btn-social btn-facebook btn-flat" value="@provider.AuthenticationScheme">
                    <i class="fa fa-facebook"></i>@provider.AuthenticationScheme</button>
            }
        </form>
    }
   
    <a  href="#" style="background:#EA4335;color:white;margin-top:5px;" class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google-plus"></i> Đăng nhập bằng
        Google+
    </a>
</div>





